<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propify.challenge.PropertyMapper">

    <insert id="insert">
INSERT INTO property (rent_price) VALUES (#{rentPrice});
    </insert>

    <update id="update">
UPDATE property ...
    </update>

    <delete id="delete">
DELETE FROM property ...
    </delete>

    <select id="search" resultType="com.propify.challenge.Property">
SELECT * FROM property;
    </select>

    <select id="findById" resultType="com.propify.challenge.Property">
SELECT * FROM property WHERE id = #{id};
    </select>

</mapper>
